textarea {
    border: none;
    outline: none;
    background-color: bisque;
}
textarea:hover {
    color: red;
    background-color: black;
}
h1 {
    color: red;
    text-align: center;
}
h2 {
    color: blue;
    text-align: end;
}
h3 {
   color: green;
   padding-left: 10%;
}
p {
    font-size: 50px;
    position: relative;
    animation: slider 5s infinite;
}
@keyframes slider { 
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
}
.spinner-loading {
    margin-top: 300px;
}
.spinner-loading img {
    width: 200px;
    height: 200px;
    animation: loading 2.5s linear infinite;
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
